# MySQL
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=root

# Redis
REDIS_HOST=localhost
REDIS_PASSWORD=123456

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

# mail
MAIL_HOST=smtp.qq.com
MAIL_PORT=465
MAIL_PROTOCOL=smtp
MAIL_USERNAME=test@qq.com
MAIL_PASSWORD=test

